<article>
  <header>
    <h2>{{ title }}</h2>
  </header>

  <section>
    <form (ngSubmit)="onSubmit()" [formGroup]="buildingForm">
      <section>
        <mat-form-field>
          <label for="name">Building Name: </label>
          <input formControlName="name" id="name" matInput required type="text">
        </mat-form-field>
        <mat-form-field>
          <label for="name">Building Zipcode: </label>
          <input formControlName="zipcode" id="zipcode" matInput required type="text">
        </mat-form-field>
        <mat-form-field>
          <label for="name">Building Address: </label>
          <input formControlName="address" id="address" matInput required type="text">
        </mat-form-field>
        <mat-form-field>
          <label for="name">Building City: </label>
          <input formControlName="city" id="city" matInput required type="text">
        </mat-form-field>
      </section>

      <section>
        <p>Complete the form to enable button.</p>
        <button (click)="closeForm()" color="warn" mat-raised-button type="button">Cancel</button>
        <button [disabled]="!buildingForm.valid" color="primary" mat-raised-button type="submit">Save</button>
      </section>
    </form>
  </section>
</article>

