<article>
  <header>
    <h2>{{ title }}</h2>
  </header>

  <section>
    <form [formGroup]="buildingForm" (ngSubmit)="onSubmit()">
      <section>
        <mat-form-field>
          <label for="name">Building Name: </label>
          <input matInput id="name" type="text" formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
          <label for="name">Building Zipcode: </label>
          <input matInput id="zipcode" type="text" formControlName="zipcode" required>
        </mat-form-field>
        <mat-form-field>
          <label for="name">Building Address: </label>
          <input matInput id="address" type="text" formControlName="address" required>
        </mat-form-field>
        <mat-form-field>
          <label for="name">Building City: </label>
          <input matInput id="city" type="text" formControlName="city" required>
        </mat-form-field>
      </section>

      <section>
        <p>Complete the form to enable button.</p>
        <button mat-raised-button type="button" color="warn" (click)="closeForm()">Cancel</button>
        <button mat-raised-button type="submit" color="primary" [disabled]="!buildingForm.valid">Save</button>
      </section>
    </form>
  </section>
</article>

