<div class="card-container ml-20">
  <article class="max-w-sm rounded overflow-hidden shadow-lg">
    <article class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Select a Category</div>

      <section class="flex flex-wrap">
        <section class="w-1/6">
          <button
            (click)="resetProductList()"
            class="h-10 inline-block bg-yellow-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Reset
          </button>
        </section>

        <div class="w-1/6"></div>

        <section class="w-4/6">
          <select (change)="onSelectCategory($event)"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
          </select>
        </section>

      </section>
    </article>
  </article>
</div>

