<app-navbar></app-navbar>

<div class="card-container mt-16">
  <article class="max-w-sm rounded overflow-hidden shadow-lg">
    <article class="px-6 py-4">
      <mat-icon class="account-icon">account_circle</mat-icon>
      <div class="font-bold text-xl mb-2">
        Account Page with Orders
      </div>

      <p class="text-gray-700 text-base">
        <b> Full name: </b> {{name}} {{lastName}}
      </p>

      <p class="text-gray-700 text-base">
        <b> Email Address: </b> {{email}}
      </p>
    </article>
  </article>
</div>

<app-product-order></app-product-order>


