<article>
  <section class="top-bar">
    <header>
      <h1>Edit buildings</h1>
    </header>
    <button (click)="openForm()" color="primary" mat-raised-button>Create Building</button>
  </section>

  <section>
    <mat-grid-list (window:resize)="onResize()" [cols]="columns" rowHeight="3:1">
      <section *ngFor="let building of buildings">
        <mat-grid-tile>
          <section>
            <mat-card class="building-card">
              <mat-card-header>
                <mat-card-title>Building: {{building.name}}</mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <mat-divider></mat-divider>
              </mat-card-content>

              <mat-card-actions>
                <button (click)="selectBuilding(building)" color="primary" mat-raised-button>Select</button>
                <button (click)="openForm(building)" color="accent" mat-raised-button>Edit</button>
                <button (click)="deleteBuilding(building)" color="warn" mat-raised-button>Delete</button>
              </mat-card-actions>
            </mat-card>
          </section>
        </mat-grid-tile>
      </section>
    </mat-grid-list>
  </section>

</article>
