<article class="max-w-sm rounded overflow-hidden shadow-lg">
  <img alt="product image" class="w-full" src="{{product.imageName}}">

  <article class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{product.name}}</div>
    <p class="text-gray-700 text-base">
      {{product.description}}
    </p>
  </article>

  <article class="px-6 pt-4 pb-2">
    <div class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Stock: {{product.stock}}</div>
    <div class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Price: €{{product.price}}</div>
    <button class="inline-block bg-yellow-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2" (click)="addToShoppingCart()">Buy</button>
  </article>
</article>
